<h1>Edit Discount</h1>
<%= render partial: 'form', locals: {
  path: "/merchants/#{@merchant.id}/bulk_discounts/#{@discount.id}",
                                      method: :patch,
                                      button_text: 'Submit'} %>
